@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vinyl";
  src: url("fonts/VinylOT-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "NeutraText";
  src: url("fonts/NeutraText-Book.otf");
  font-display: swap;
}